.signup-wrapper{
 width: 70%;
 max-width: 450px;
 height: auto;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
 border-radius: 1rem;
 padding:1rem 1.5rem;
}
.title{
 font-weight: 500;
 font-size: 1.2rem;
 text-align: center;
}
.p-login{
 text-align: center;
 font-weight: 300;
 font-size: 0.8rem;
 margin: 0;
}