.navbar {
 background-color: var(--theme);
 padding: 0.5rem 0.5rem;
 position: sticky;
 top: 0;
 left: 0;
z-index: 1000;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* Move logo to the left */
.logo {
 color: white;
 font-weight: 500;
 font-size: 1.2rem;
 margin: 0;
}
.link{
 opacity: 0.8;
 cursor: pointer;
}
.link:hover{
 opacity:1;
 transition: all 0.3s;
}