@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Add your custom styles below */

:root {
  --theme: #31d37d;
  --black: #000;
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal overflow */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
}

.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: 0px 0px 20px 4px rgba(227, 227, 227, 0.75);
  /* Adjusted shadow to prevent overflow */
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
  box-sizing: border-box;
  /* Ensure padding doesn't cause overflow */
}

.input-flex input {
  width: 100%;
  padding: 0.5rem;
  border: none;
}

.input-flex input:focus {
  outline: none;
}
.select-input {
  width: 30%;
  margin-right: 10;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem;
}

.select-input-2>div {
  border-width: 0px !important;
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
  border-color: #000 !important;
}

.select-input>div {
  border: 0px solid #fff !important;
}